*{
    margin: 0;
    padding: 0;

}
body{
background-color: hsl(212, 45%, 89%);
}

.wrapper{
    
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain{
    background-color: hsl(0, 0%, 100%);

    width: 200px;
    height: 320px;
    border-radius: 10px;
}

img{
    width: 200px;
    display: block;
    border-radius: 15px;
    padding: 8px;
    box-sizing: border-box;
}


section h1{
    text-align: center;
    font-size: 16px;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit',sans-serif;

}

section{
    padding: 0 8px 0 8px;
}

section p{
    text-align: center;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    padding-top: 8px;
}

@media screen and (min-width: 375px){
    
    .contain{
        height: 450px;
        width: 300px;
        
        
    }

    .wrapper{
        height: 550px;
    }

    img {
        width: 300px;
        display: block;
        border-radius: 25px;
        padding: 15px;
       
    }

    section h1 {
        font-size: 1.3em;
        padding: 7px 17px 0 17px;

    }

    section p {
        font-size: 15px;
        padding: 10px 19px 10px 19px;
        width: 240px;

   }
}
